.homeLink {
  z-index: -5;
  position: absolute;

}

.textBoxesCtnr {
  z-index: -1;
  position: absolute;
  background-color: #10042f;

  height: 1350px;
  width: 2000px;
  top: -260px;
  left: -160px;
}

.title {
  font-size: 8rem;
  font-family: 'Poppins';
  z-index: 1;
  position: relative;
  width: 100%;
  height: auto;
  top: -850px;
  left: 380px;
  color: black;
}

.bioText {
  font-size: 2rem;
  color: white;
  font-family: 'Monoid';
  position: relative;
  width: 500px;
  height: auto;
  top: -1080px;
  left: 1100px;
}

.decorationCtnr {
  position: absolute;
}

.vectorCtnr {
  position: fixed;
  top: 490px;
  left: 200px;
  z-index: 3;
  height: 100%;
  width: 100%;
  transform: scale(1.2) rotate(-8deg);
}

.footerDecoration {
  width: 2850px;
  height: 1000px;
  background-color: black;
  position: absolute;
  top: 880px;
  left: -170px;
  transform: rotate(10deg);
}
