.container {
  background-image: linear-gradient(
      150deg,
    rgba(0, 0, 0, 0.945) 50%,
    hsl(257, 100%, 7%) 100%
  );
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.main {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 20% 60% 20%;
  grid-template-areas:
    "title . info"
    ". text ."
    ". . next";
  height: 100vh;
  width: 100vw;
}

.title {
  z-index: 5;
  padding-left: 2rem;
  transform-origin: top left;
}

.titleCtnr {
  grid-area: title;
  padding-left: 2rem;
  height: 80%;
  width: 120%;
  z-index: 1;
  padding: 1rem;
  padding-left: 2rem;
  padding-top: 2rem;
  min-width: 100%;
}

.centerpiece {
  align-self: center;
  justify-self: center;
}

.ringCtnr {
  align-self: center;
  justify-self: center;
  grid-area: text;
}

.introTextCtnr {
  height: 100%;

  grid-area: text;
  align-self: center;
  justify-self: center;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(5, 20%);
  grid-template-areas:
    "cs cs cs"
    "line line line"
    "ftw ftw ftw"
    "and . ."
    "beyond beyond beyond";
}

.introTextCtnr h2 {
  z-index: 10;
  justify-self: center;
  color: white;
  
  font-family: 'Poppins';
  font-weight: 100;
}

.line1 {
  grid-area: cs;
  align-self: center;
  font-size: 4.5rem;
}

.introVector {
  grid-area: line;
  height: auto;
  justify-self: center;
}

.line2 {
  grid-area: ftw;
  align-self: center;
  font-size: 4.5rem;
}

.line3 {
  grid-area: and;
  align-self: center;
  margin-right: 50%;
  font-size: 10rem;
}

.line4 {
  grid-area: beyond;
  font-size: 5rem;
  margin-top: 5%;
  margin-right: -50%;
  width: auto;
  height: 100%;
}

.nextCtnr {
  grid-area: next;
  place-self: center right;
  margin-top: -20%;
  padding-right: 2rem;
}
