.container {
  /* background: radial-gradient(50% 50% at 50% 50%, #ffffff 26.04%, #10042f 100%); */
  background: linear-gradient(315deg, hsla(315, 79%, 26%, 1) 1%, hsla(257, 84%, 10%, 1) 70%);;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.main {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 20% 60% 20%;
  grid-template-areas:
    "title . info"
    ". text ."
    ". . next";
  height: 100vh;
  width: 100vw;
}

.title {
  color: transparent;
  line-height: 1.15;
  font-size: 4rem;
  text-decoration: none;
  font-family: "Inter";
  background-image: linear-gradient(
    45deg,
    rgba(255, 123, 123, 0.73) 20%,
    rgba(10, 231, 245, 0.73) 63.54%
  );

  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.titleCtnr {
  grid-area: title;
  padding-left: 2rem;
}

.centerpiece {
  align-self: center;
  justify-self: center;
}

.ringCtnr {
  align-self: center;
  justify-self: center;
  z-index: 0;
  grid-area: text;
}

.introTextCtnr {
  height: 100%;

  grid-area: text;
  align-self: center;
  justify-self: center;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(5, 20%);
  grid-template-areas:
    "cs cs cs"
    "line line line"
    "ftw ftw ftw"
    "and . ."
    "beyond beyond beyond";
}

.introTextCtnr h2 {
  z-index: 10;
  justify-self: center;
  color: white;
}

.line1 {
  grid-area: cs;
  align-self: center;
  font-size: 4.5rem;
}

.introVector {
  grid-area: line;
  height: auto;
  justify-self: center;
}

.line2 {
  grid-area: ftw;
  align-self: center;
  font-size: 4.5rem;
}

.line3 {
  grid-area: and;
  align-self: center;
  margin-right: 50%;
  font-size: 10rem;
}

.line4 {
  grid-area: beyond;
  font-size: 5rem;
  margin-top: 5%;
  margin-right: -50%;
  width: auto;
  height: 100%;
}

.nextCtnr {
  grid-area: next;
  place-self: center right;
  margin-top: -20%;
  padding-right: 2rem;
}
