@font-face {
  font-family: "Steps-Mono";
  src: url('../public/Manrope-Regular.ttf');
}

.container {
  background-color: #10042f;
  background-size: cover;
  background-attachment: local;
  overflow-x: hidden;
  height: auto;
  width: 100%;
  z-index: -10;
}

.backgroundWave {
  overflow-x: hidden;
  background-size: cover;
  background-image: url(../public/Bg3dWave.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: fixed;
  z-index: 0;
  height: 100%;
  width: 100%;
}
.gridLayout {
  display: grid;
  width: 100vw;
  height: auto;
  grid-template-columns: 10% 30% 0% 30% 10%;
  grid-template-rows: 33.33vh repeat(8, 30vh);
  grid-template-areas:
    ". . title . ."
    ". tic . . ."
    ". . . tac  ."
    ". city . . ."
    ". . . sounds ."
    ". calc . . ."
    ". . . game ."
    ". code . . ."
    ". . . pen .";
  row-gap: 20px;
  z-index: 1;
  column-gap: 5%;
  justify-self: center;
  align-items: center;
}

.title {
  display: grid;
  grid-column: 3;
  font-family: "Manrope";
  z-index: 1;
  color: white;
  font-size: 7rem;
  justify-self: center;
}

.displayBoxes > p {
  z-index: 3;
  justify-self: center;
}

.displayBoxes {
  z-index: 2;
  width: 700px;
  height: 700px;
  align-self: center;
  align-items: center;
  justify-self: center;
  color: white;
  background-image: url("../public/textBox.png");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: -100px; */
}

.ticTacTitle {
  display: grid;
  position: relative;
  grid-area: tic;
}

.ticTacDescription {
  display: grid;
  position: relative;
  grid-area: tac;
  margin-top: -200px;
}

.citySoundsTitle {
  grid-area: city;
  position: relative;
  display: grid;
}

.citySoundsDescription {
  grid-area: sounds;
  position: relative;
  display: grid;
  margin-top: -200px;
}

.calcTitle {
  grid-area: calc;
  position: relative;
  display: grid;
}

.calcDescription {
  grid-area: game;
  position: relative;
  display: grid;
  margin-top: -200px;
}

.codePenTitle {
  grid-area: code;
  position: relative;
  display: grid;
}
.codePenDescription {
  grid-area: pen;
  position: relative;
  display: grid;
  margin-top: -200px;
}

@media only screen and (max-width: 1080px) {
  .displayBoxes {
    width: 620px;
    height: 620px;
  }
}
@media only screen and (max-width: 748px) {
  .title {
    grid-column: 2;
    font-size: 4.5rem;
  }

  .displayBoxes {
    width: 500px;
    height: 500px;
  }
  .codePenDescription {
    margin-top: -50px;
  }
  .calcDescription {
    margin-top: -50px;
  }

  .citySoundsDescription {
    margin-top: -50px;
  }

  .ticTacDescription {
    margin-top: -50px;
  }
  .gridLayout {
    grid-template-columns: 40% 10% 40%;
    grid-template-areas:
      ".  title  ."
      ". tic ."
      ". tac  ."
      ". city ."
      ".  sounds ."
      ". calc ."
      ". game ."
      ". code ."
      ". pen .";
    row-gap: 40px;
  }
}
