.slideshowCtnr {
  width: 1200px;
  grid-area: textBox;
}
.textBox {
  position: relative;
}
.bioText {
  font-size: 1.8rem;
  color: white;
  font-family: "Monoid";
  height: 335px;
  position: relative;
  top: -825px;
  width: 40%;
  left: 375px;
  line-height: 2.3rem;
}
.buttonCtnr {
  position: relative;
  top: -800px;
  display: flex;
  flex-direction: row;
  left: 700px;
}

.nextText {
  z-index: 11;
  position: absolute;
}

.prevText {
  z-index: 11;
  rotate: 180deg;
  position: absolute;
  left: -300px;
}

@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 748px) {
  .slideshowCtnr {
    width: 700px;
  }
  .bioText {
    font-size: 0.8rem;
    color: white;
    font-family: "Monoid";
    height: 335px;
    position: relative;
    top: -490px;
    width: 35%;
    left: 225px;
    line-height: 1.4rem;
  }
  .buttonCtnr {
    position: relative;
    top: -620px;
    display: flex;
    flex-direction: row;
    left: 390px;
  }

  .nextText {
    z-index: 11;
    position: absolute;
    width: 70px;
  }

  .prevText {
    z-index: 11;
    rotate: 180deg;
    position: absolute;
    width: 70px;
    left: -150px;
    top: -5px;
  }
}
