.bioText {
  font-size: 1.8rem;
  color: white;
  font-family: 'Monoid';
  position: relative;
  width: 500px;
  height: auto;
  top: -1080px;
  left: 1110px;
}

.nextText {
  z-index: 11;
  position: absolute;
  top: 840px;
  left: 1550px;
  width: 100px;
  height: 100px;
}

.prevText {
  z-index: 11;
  rotate: 180deg;
  position: absolute;
  top: 840px;
  left: 1160px;
  width: 100px;
  height: 100px;
}